/** Add css rules here for your application. */

body{
	margin:0 !important;
	color:#585858;
	font-size: 12px;
	background:#fff;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.welcome {
	color:#585858;
	font-size: 30px;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
}

.text {
	color:#585858;
	font-size: 12px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}

.text14 {
	color:#000;
	font-size: 14px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}

.text16 {
	color:#000;
	font-size: 16px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}

.text18 {
	color:#000;
	font-size: 18px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}

.text20 {
	color:#000;
	font-size: 20px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}

.text16Bold {
	color:#000;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.textBold {
	color:#000;
	font-size: 12px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
}

.link,
.linkSelected,
.linkSelectedOver,
.linkOver,
.linkDown,
.linkSelectedDown,
.linkSelectedDisabled,
.linkFocused,
.linkFocusedOver,
.linkFocusedDown,
.linkDisabled {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;
	color:#68A7CF;
	border:none !important;
}

.linkSelectedOver,
.linkOver,
.linkDown,
.linkSelectedDown {
	border:none !important;
	text-decoration: none;
	/* color:#5A0E56; */
	/* font-weight:bold; */
}

.linkSelected,
.linkSelectedDisabled {
	border:none !important;
	color:#666666;
}

.welcomeLeftPanel {
	padding-top: 10px !important;
	padding-bottom: 20px !important;
	padding-left: 20px !important;
}

.welcomeRightPanel {
	padding-top: 10px !important;
	padding-bottom: 20px !important;
	padding-left: 20px !important;
	
}

.box {
	border: 1px #EEEEEE solid;
	padding: 5px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.liveFilterBox {
	margin-left: 10px;
	border: 1px solid gray;
	margin-top: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.datasets-table {
	border: 1px solid gray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-right: 10px;
}

.live-filter-label {
	font-size: 18px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 15px;
	padding-top: 15px;
}

.datasets-label {
	font-size: 18px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}

.left-items-box {
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.add-file-label {
	padding-left: 315px;
	font-size: 20px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
}

.header-label {
	padding-left: 30px;
	font-size: 20px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
}

.phase-Label {
	color: red;
	font-size: 20px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 30px;
}

.phase2 {
	padding-right: 250px;
	color: red;
	font-size: 20px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
}

.box-border {
	border: 1px solid gray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.importBtn {
	padding-left: 240px;
}

.content-area-labels {
	padding-left: 10px;
}

.exportFormatForm {
	padding-top: 20px;
}

.homeBtn {
	font-size: 18px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 15px;
	padding-top: 15px;
}